.about-wrapper-large {
 
  max-width: 60%;
  margin: 0 auto;
}
.profile {
  margin-top: 25px;
  margin: 0 auto;
  text-align: center;
}
.profile img{
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
  border-radius: 5px;
}

.about footer{
  text-align: center;
  margin-top: 150px;
  margin-bottom: 50px;
}
.about .skill-title{
  color: #061161;
}

@media screen and (max-width:768px) {
  
  .profile img{
    width: 100%;
    height: 300px;
  }
  .about-wrapper-large{
    max-width: 100%;
    margin: 0 15px;
  }

}
/* @media screen and (max-width:850px) {
  .about-wrapper-large{
   margin: 0 212px;
  }
  .profile img{
    width: 300px;
    height: 300px;
  }
} */
